*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-header{
    width: 100%;
    /* position: fixed; */
    border-bottom: 1px solid #f29f05;
    background-color: #f5b800;
    z-index: 99;
    padding: 0 20px;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: #f5f5f5;
}
.txtoscuro{
    color:#23232D;
}
.txtamar{
    color:#f29f05;
}
.contenedor-header header nav a{
    display: inline-block;
    text-decoration: none;
    color: #f5f5f5;
    padding: 5px;
    text-transform: uppercase;
}
.contenedor-header header nav a:hover{
    color: #f29f05;
}
.contenedor-header header .redes a{
    text-decoration: none;
    color: #f5f5f5;
    display: inline-block;
    padding: 5px 8px;
}
.contenedor-header header .redes a:hover{
    color: #f29f05;
}
.nav-responsive{
    display: none;
    font-size: 25px;
 }


.basquet-container{
    margin: 32px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.teams_data_containner{
    margin-top: 32px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.all_teams{
    width: 90%;
    display: flex;
    border-radius: 8px;
    border: 0.3px solid rgba(128, 128, 128, 0.397);
    background-color: rgba(128, 128, 128, 0.05);
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
.all_teams:hover{
    transform: translateY(-10px);
    box-shadow: 0px 4px 8px gray;
    transition: all 0.3s ease-in-out;
}
.basquet_man_img{
    width: 30%;
    mask-image: linear-gradient(black 80%, transparent);
    transition: all 0.3s ease-in-out;

}
.all_teams:hover  .basquet_man_img{
    scale: 1.2;
    transform: translateY(-10px);
    mask-image: linear-gradient(black 70%, transparent);
    transition: all 0.3s ease-in-out;
}
.not_hover{
    filter: blur(4px);
}
p{
    color: #F5B800;
    font-size: 2rem;
    font-weight: 600;
    font-family: sans-serif;
}